<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link href="/static/styles.css" rel="stylesheet">
<title>testpage</title>
  <body>
    <div id = 'onlyme'>
    </div>
    <script type="text/javascript">
        var divItem = document.querySelector('#onlyme')
        var data = {
            query: `query ( $name: String!){
                playData(name: $name) {
                  LV
                  SKILL
                }
            }`,
            variables: { 
                name: 'Charmander',
            }
        }

        var headers = new Headers()
        headers.append("Content-Type", "application/json")
        headers.append("Accept", "application/json")

        fetch("http://localhost:8010/graph/", {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(data)
        })
          .then( (res)=>res.json() )
          .then( (backdata)=>{
            var back = backdata.data.playData[0]
            divItem.innerHTML = `我的 Charmander 會用 ${back.SKILL} 唷`
        })
        
    </script>
  </body>
</html>